{%load custom_tags %}

<style>
    /* THIS CSS IS JUST A STARTING POINT, FEEL FREE TO MAKE ANY IMPROVEMENTS */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-flow: dense;
        border: 1px solid #333;
        gap: 1px;
        padding: 20px;
        width: 60%;
        border-radius: 10px;
    }

    .post {
        padding: 10px;
    }
</style>

<script>
    function setGridSize(){
        document.querySelector(".grid").style.width = "100%";
    }
</script>

<div class="grid">
    {% for post in posts %}
    <div class="post">
        {% render_post post %}
    </div>
    {% endfor %}
</div>

