<!-- Including navbar at top of page -->
{% include 'CheeseBoardSite\navbar.html' %}


<title>Cheese Board</title>

<style>
    /* THIS CSS IS JUST A STARTING POINT, FEEL FREE TO MAKE ANY IMPROVEMENTS */
    * {
        box-sizing: border-box;
    }

    #page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #navbar{
        padding: 1em;
    }
    
</style>

<div id="page">
    <div id="navbar">
        
    </div>

    <!-- Temp layout to ensure URL is working once implemented -->
    <div id="content">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>
</div>