{% include 'CheeseBoardSite/navbar.html' %}

<head>
    <title>Account Settings</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="StyleSheet.css">

    <script>
        function showDeleteAccount() {
            document.getElementById("delete-account").style.display = "block";
            document.getElementById("account-settings").style.display = "none";
        }

        function showAccountSettings() {
            document.getElementById("delete-account").style.display = "none";
            document.getElementById("account-settings").style.display = "block";
        }
    </script>
</head>
<div id="navbar">
        
</div>
<h1 id="title">Account Settings</h1>
<div id="sidebar" class="w3-sidebar w3-bar-block">
    <div id="sidebar-content">
        <div id="account-info">
            <img src="{{ profilePic.url }}" alt="Profile Picture" style="width: 100px; height: 100px;">
            <div id="account-info-text">
                <h3>{{ username }}</h3>
                <p>{{ followers }} followers &Tab; {{ stats.likesTaken }} likes &Tab; {{ stats.posts }} posts</p>
            </div>
        </div>
        <br>
        <button onclick="showAccountSettings()">Account Settings</button> 
        <br>
        <button onclick="showDeleteAccount()">Delete Account</button>
    </div>
</div>

<div id="container">
    <div id="main">
        <div id="account-settings">
            <h2>Account Settings</h2>
            <form action="/account" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="{{ username }}">
                </div>
                <div class="form-row">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ email }}">
                </div>
                <div class="form-row">
                    <label for="profilePic">Profile Picture:</label>
                    <input type="file" id="profilePic" name="profilePic">
                </div>
                <div class="form-row">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form-row">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                </div>
                <div class="form-row">
                    <input type="submit" value="Save Changes">
                </div>
            </form>
        </div>
        <div id="delete-account" style="display: none;">
            <h2>Delete Account</h2>
            <form action="/account/delete" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form-row">
                    <input type="submit" value="Delete Account">
                </div>
            </form>
        </div>
    </div>
</div>