<!DOCTYPE html>
{% include 'CheeseBoardSite/navbar.html' %}

{% load staticfiles %}
<html>
    <head>
        <title>
            {% block title_block %}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}">

        <script>
            function displayError(){
                try {
                    alert(document.getElementsByClassName("errorlist nonfield").item(0).childNodes.item(0).firstChild.nodeValue);
                } catch (e) {

                }
            }
        </script>
    </head>

    <body onload="displayError()">
        <div id="navbar"></div>


        <div id="centre">
            <h1 id="title">
                {% block page_title %}
                {% endblock %}
            </h1>
        
            {% block form_content %}
            {% endblock %}
        </div>
    </body>
</html>